 
 <div class="row ">
     
        <div class="col-12 ">
                <!-- <h4  class="text-uppercase mb-0 text-bold-400 mt-4">Resume Customizer</h4> -->
            <div class="content-header">Resume Customizer</div>
            <p class="content-sub-header">Customize & Preview in Real Time</p>
        </div>

      
    </div>
    

            <div class="card d-none">
                   
                    <div class="card-body">


                        <div class="row">
                            <div class="col-12 col-lg-6 col-md-6 mt-2 text-center">
                                <i  class="ft-eye danger font-large-2"></i>
                               <div  class="mt-2">Preview</div>
                                        

                            </div>
                            <div class="col-12 col-lg-6 col-md-6 mt-2 text-center">
                                    <i  class="ft-download-cloud  primary font-large-2"></i>
                                   <div  class="mt-2">Download PDF</div>
                                            
    
                               </div>
                        </div>
                        <div class="row">
                                <div class="col-12 col-lg-6 col-md-6 mt-2 text-center">
                                    <i  class="ft-eye danger font-large-2"></i>
                                   <div  class="mt-2">Change Template</div>
                                            
    
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 mt-2 text-center">
                                        <i  class="ft-download-cloud  primary font-large-2"></i>
                                       <div  class="mt-2">Copy</div>
                                                
        
                                   </div>
                            </div>
                               
                        </div>
            </div>
    

             
   
 
         <!-- right channel -->
     <!-- Resume Status -->
    
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Resume Stats</h4>
                </div>
                <div class="card-body">
    
                    <!-- <div id="donut-dashboard-chart" class="height-250 donut">
                        <x-chartist class="" [data]="DonutChart.data" [type]="DonutChart.type" [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions" [events]="DonutChart.events"> </x-chartist>
                    </div> -->
                    <div class="card-block">
                        <div class="row mb-3">
                            <div class="col"> <span class="mb-1 text-muted d-block">23% - Started</span>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 23%;" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col"> <span class="mb-1 text-muted d-block">14% - In Progress</span>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-amber" role="progressbar" style="width: 14%;" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col"> <span class="mb-1 text-muted d-block">35% - Remaining</span>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-deep-purple bg-lighten-1" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col"> <span class="mb-1 text-muted d-block">28% - Done</span>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-blue" role="progressbar" style="width: 28%;" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ///Resume Status -->
    
            <div class="card text-center">
                <div class="card-header"> Featured </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary shadow-z-1-hover">Go somewhere</a> </div>
                <div class="card-footer text-muted"> 2 days ago </div>
            </div>
    
            <!-- slider -->
            <ngb-carousel>
                <ng-template ngbSlide> <img src="assets/img/gallery/21.jpg" alt="Random first slide" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide> <img src="assets/img/gallery/24.jpg" alt="Random first slide" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide> <img src="assets/img/gallery/22.jpg" alt="Random first slide" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
    
            <!-- //slider -->
    
       
        <!-- //right channel  -->
    