<!--Login Page Starts-->
<section id="login">



    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">




                <div class="card card-signup">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row d-flex">

                                <div class="col-12 col-sm-12  align-items-center p-4">
                                    <h6 class="blue-grey text-center  head-wLine">
                                        <span>Login</span>

                                    </h6>

                                    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)" class=" w-100">


                                        <div class="input-group mb-1">
                                            <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required class="form-control" [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">



                                            <div *ngIf="signInForm.submitted && email.errors?.pattern">
                                                <label class="validation-message">Invalid email address.</label>
                                            </div>
                                        </div>


                                        <div class="input-group mb-1">
                                            <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required class="form-control" minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">



                                            <div *ngIf="signInForm.submitted && password.errors?.minlength">
                                                <label class="validation-message">Minimum 4 characters.</label>
                                            </div>
                                        </div>
                                        <!-- <a>Forgot password?</a> -->
                                        <a href="!#" class="font-small-3 float-right" routerLink="/forgotPassword" routerLinkActive="active">Forgot password?</a>



                                        <div class="form-group text-center">
                                            <input type="submit" value="Sign In" class="btn btn-raised mt-2 w-100  shadow-z-2 btn-primary">
                                        </div>




                                        <h6 class="blue-grey text-center head-wLine">
                                            <span>
                                                            or <em class="text-bold-500">Sign in with </em>
                                                        </span>
                                        </h6>
                                        <div class="row">
                                            <div class="col"> <a class="btn btn-social btn-min-width w-100 text-center   mb-2 btn-google" (click)="googlelogin()"><span class="fa fa-google font-small-3"></span> Google</a></div>
                                            <div class="col"><a class="btn btn-social btn-min-width  w-100 text-center   mb-2 btn-facebook" (click)="facebooklogin()"><span class="fa fa-facebook  font-small-3"></span> Facebook</a></div>
                                            <div class="w-100"></div>
                                            <div class="col"><a class="btn btn-social btn-min-width  w-100 text-center  mb-2 btn-linkedin" (click)="linkedinlogin()"><span class="fa fa-linkedin  font-small-3"></span> LinkedIn</a></div>
                                            <div class="col"><a class="btn btn-social btn-min-width  w-100 text-center  mb-2 btn-twitter" (click)="twitterlogin()"><span class="fa fa-twitter  font-small-3"></span> Twitter</a></div>
                                        </div>


                                        <div class="col-12 center ">
                                            <p class="text-center grey">
                                                Don't have an account
                                                <a href="!#" routerLink="/signup">Sign up</a>

                                            </p>
                                        </div>

                                        <!-- Success message -->
                                        <div class="alert alert-secondary" type="success" role="alert" *ngIf="showSucessMessage">
                                            Registered successfully
                                        </div>

                                        <!-- Error message -->
                                        <div class="alert" role="alert" class="alert alert-warning" *ngIf="serverErrorMessages">
                                            {{serverErrorMessages}}
                                        </div>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->