<!-- <div class="page-loader" ng-show="showLoading">
    <div class="loader">Loading...</div>
</div> -->
<!-- <button (click)=download()>download as a PDF</button> {{framePath}} -->
<!-- Preview Frame -->
<div id="YtUyUyUyUy" class="my-scroll-area" >
 
     <!-- <div class="page-loader forIframe whiteOne" > 
         <div class="loader">Loading...</div>  
        </div> -->

        <!-- <div style="z-index: 1050" *ngIf="showLoadingIframe" aria-hidden="true" class="modal-backdrop fade show"></div> -->

        <div class="page-loading" *ngIf="showLoadingIframe">
                <img src="assets/img/oval.svg" class="loading-icon" />
                <div class="LogingText">
                    <h5>We are building your resume
                        <br>
                        <span class="blink primary">please wait...</span></h5>
                </div>
            </div> 

    <iframe class="preview-frame" id="divpnlChart" [src]="framePath | safe" style="height: -webkit-fill-available;" width="100%" height="100%"></iframe>
    <!-- <iframe class="preview-frame" id="divpnlChart" iframe-set-dimensions-onload ng-src="{{framePath}}" width="100%" height="100%"></iframe> -->
</div>
<!-- //Preview Frame -->
<app-customizer (directionEvent)="getOptions($event)" class="insidePreview"></app-customizer>
<script type="text/javascript">
    $('.header-elements-toggle').on('click', function(e) {
        e.preventDefault();
        $(this).parents('[class*=header-elements-]').find('.header-elements').toggleClass('d-none');
    });

    $(document).ready(function() {

        $('.settings-button').dropdown({
            constrainWidth: false
        });
    });

    /**
     * Scaling <iframe>-elements.
     * 
     * Emanuel Kluge
     * twitter.com/Herschel_R
     */
    (function(win, doc) {

        /** Below this point the scaling takes effect. */
        var BREAKPOINT = 1020;

        /**
         * The `window.resize`-callback gets throttled
         * to an interval of 30ms.
         */
        var THROTTLE = 30;

        /** Just the declaration. Definition comes later. */
        var IFRAME_HEIGHT;

        var iframe = doc.getElementsByClassName('preview-frame')[0],
            timestamp = 0;

        /** Defining the inital iframe-height. */
        IFRAME_HEIGHT = parseInt(getComputedStyle(iframe).height, 10);

        /**
         * Takes an object with CSS-transform-properties
         * and generates a cross-browser-ready style string.
         *
         * @param  {Object} obj
         * @return {String}
         */
        function transformStr(obj) {
            var obj = obj || {},
                val = '',
                j;
            for (j in obj) {
                val += j + '(' + obj[j] + ') ';
            }
            val += 'translateZ(0)';
            return '-webkit-transform: ' + val + '; ' +
                '-moz-transform: ' + val + '; ' +
                'transform: ' + val;
        }

        /**
         * Scaling the iframe if necessary.
         *
         * @return {Function}
         */
        function onResize() {

            var now = +new Date,
                winWidth = win.innerWidth,
                noResizing = winWidth > BREAKPOINT,
                scale,
                width,
                height,
                offsetLeft;

            if (now - timestamp < THROTTLE || noResizing) {
                /** Remove the style-attr if we're out of the "scaling-zone". */
                noResizing && iframe.hasAttribute('style') && iframe.removeAttribute('style');
                return onResize;
            }

            timestamp = now;

            /**
             * The required scaling; using `Math.pow` to get
             * a safely small enough value.
             */
            scale = Math.pow(winWidth / BREAKPOINT, 1.2);

            /**
             * To get the corresponding width that compensates
             * the shrinking and thus keeps the width of the
             * iframe consistent, we have to divide 100 by the
             * scale. This gives us the correct value in percent.
             */
            width = 100 / scale;

            /**
             * We're using the initial height and the compen-
             * sating width to compute the compensating height
             * in px.
             */
            height = IFRAME_HEIGHT / scale;

            /**
             * We have to correct the position of the iframe,
             * when changing its width.
             */
            offsetLeft = (width - 100) / 2;

            /** Setting the styles. */
            iframe.setAttribute('style', transformStr({
                scale: scale,
                translateX: '-' + offsetLeft + '%'
            }) + '; width: ' + width + '%; ' + 'height: ' + height + 'px');
            return onResize;
        }

        /** Listening to `window.resize`. */
        win.addEventListener('resize', onResize(), false);

    })(window.self, document);
</script>