<div *ngIf="list">
        <div class="card">
            <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block float-left font-medium-2"> <i class="{{sectionicon}} ft-bell mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500 primary">{{sectionname}}</h4>
                    <h6 class="card-subtitle ">Publish the Skills and Knowledge you which are proficient.</h6>
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        <button class="dropdown-item">Rename</button>
                        <button class="dropdown-item">Change Icon</button>
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <div class="drag-drop-wrapper">
                        <ul class="list-group list-group-flush drag-drop-container" [dragula]="MANY_ITEMS" [(dragulaModel)]='skillsArray' id="left">
                        <li class="list-group-item" *ngFor="let skill of skillsArray">
                            <!-- <div class="actions">  -->
                            <!-- <i class="ft-menu mr-1 info p-1"></i> -->
                            <!-- </div> -->
                            <div class="d-flex pl-3 justify-content-between align-content-center list-item-dragable">
                                <div class="itemNumber position-absolute">
                                    </div>
                                <div class="flex-grow-1">
                                    <a (click)=onEdit(skill)>
                                        <h5 class="font-medium-2 text-bold-500 black"> {{ skill.name}} </h5>
                                    </a>

                                   ---- {{ skill.proficiency}}----
                                    <!-- <h6 class="card-subtitle "> Duration - <em class="blue">10th May 2002 - 15th June 2003</em> </h6> -->
                                </div>
                                <div class="actions"> 
                                    <i class="ft-edit mr-1 info p-1" (click)=onEdit(skill) placement="top" ngbTooltip="Edit"></i> 
                                    <i class="ft-copy mr-1 green p-1"(click)=onClone(skill)  placement="top" ngbTooltip="Copy"></i> 
                                    <i class="ft-trash-2 danger p-1" (click)=onDelete(skill.ids) placement="top" ngbTooltip="Delete"></i> 
                                    <i class="handle ft-move mr-1 grey p-1 cursorMove" placement="top" ngbTooltip="Move"></i>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="list-group-item d-flex justify-content-between align-content-center">
                            <div class="actions"> <i class="ft-move mr-1 grey p-1"></i>
                                <i class="ft-menu mr-1 info p-1"></i>
                            </div>
                            <div class="flex-grow-1">
                                <a href="">
                                    <h5 class="font-medium-2 text-bold-500 black"> PenguinApps </h5>
                                </a>
                                <h6 class="card-subtitle "> Duration- <em class="blue">10th Jan 2005 - 15th April 2008</em> </h6>
                            </div>
                            <div class="actions"> <i class="ft-edit mr-1 info p-1" placement="top" ngbTooltip="Edit"></i> <i class="ft-copy mr-1 green p-1" placement="top" ngbTooltip="Copy"></i> <i class="ft-trash-2 danger p-1" placement="top" ngbTooltip="Delete"></i> </div>
                            </li> -->
                            <div class="card-footer">
                    
                                <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel" (click)="confirmCancelButton()">Delete Section</button>
                                <div class="float-right ">
                                    <a class="btn  mr-1 btn-raised  btn-info" (click)='onAdd()'> <i class="ft-plus mr-1"></i> Add New  </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="list">
        <div class="card">
            <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block float-left font-medium-2"> <i class="{{sectionicon}} mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500 primary">{{sectionname}}</h4>
                    <h6 class="card-subtitle ">Publish the Skills and Knowledge you which are proficient.</h6>
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        
                        <button class="dropdown-item" (click)="onChangeIcon(content)">Chnage data (PLz suggest a name)</button>
                        <button class="dropdown-item" (click)="editWorkexpErience()">Chnage data (PLz suggest a name)</button>
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
                <div class="card-footer">
                    
                    <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel" (click)="confirmCancelButton()">Delete Section</button>
                    <div class="float-right ">
                        <a class="btn  mr-1 btn-raised  btn-info" (click)='onAdd()'> <i class="ft-plus mr-1"></i> Add New  </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--      //section preview-->
    <!--      section form add new-->
    <!-- Skill Add -->
    <div class="card" *ngIf="add">
        <form #skillsAddForm="ngForm" (ngSubmit)="onSkillSubmit(skillsAddForm)" class=" w-100">
        <div class="card-header">
            <div class="card-header-icon d-inline-block float-left font-medium-2"> <i class="ft-bell mr-1 p-1 "></i> </div>
            <div class="d-inline-block">
                <h4 class="card-title text-bold-500 primary">Skills & Competences</h4>
                <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
            </div>
        </div>
        <div class="card-body" aria-expanded="true">
            <div class="card-block">
                <label for="basic-url">Skill</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="skills.name" name="name">
                </div>
                <label for="basic-url">Strength</label>
                <div class="card-block text-center">
                    <div class="form-group">
                        <ng5-slider [(value)]="value" [options]="options" name="strength" [(ngModel)]="value"></ng5-slider>
                        <i class="fa fa-bath"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- <span class="text-muted float-left">ABCD</span> -->
            <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel" (click)="confirmCancelButton()">Delete Section</button>
            <div class="float-right ">
                <!-- <a href="" class="btn  mr-1 btn-sm btn-raised  btn-info" (click)="onSkillSave()"> <i class="ft-plus mr-1"></i> Save </a> -->
                <button class="btn  mr-1 btn-sm btn-raised  btn-info"> <i class="ft-plus mr-1"></i> Save </button>
            </div>
            <div class="float-right ">
                <a href="" class="btn  mr-1 btn-sm btn-raised  btn-info" (click)="onSkillDelete()"> <i class="ft-plus mr-1"></i> Delete </a>
            </div>
        </div>
        </form>    
    </div>
    <!-- Skill Edit -->
    <div class="card" *ngIf="edit">
        <form #skillsEditForm="ngForm" (ngSubmit)="onSkillEditSubmit(skillsEditForm)" class=" w-100">
        <input type="hidden" name="ids" [(ngModel)]="skills.ids">
        <div class="card-header">
            <div class="card-header-icon d-inline-block float-left font-medium-2"> <i class="ft-bell mr-1 p-1 "></i> </div>
            <div class="d-inline-block">
                <h4 class="card-title text-bold-500 primary">Skills & Competences</h4>
                <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
            </div>
        </div>
        <div class="card-body" aria-expanded="true">
            <div class="card-block">
                <label for="basic-url">Skill</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="skills.name" name="name">
                </div>
                <label for="basic-url">Strength</label>
                <div class="card-block text-center">
                    <div class="form-group">
                        <ng5-slider [(value)]="value" [options]="options" name="strength" [(ngModel)]="skills.proficiency"></ng5-slider>
                        <i class="fa fa-bath"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- <span class="text-muted float-left">ABCD</span> -->
            <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel" (click)="confirmCancelButton()">Delete Section</button>
            <div class="float-right ">
                <!-- <a href="" class="btn  mr-1 btn-sm btn-raised  btn-info" (click)="onSkillSave()"> <i class="ft-plus mr-1"></i> Save </a> -->
                <button class="btn  mr-1 btn-sm btn-raised  btn-info"> <i class="ft-plus mr-1"></i> Save </button>
            </div>
            <div class="float-right ">
                <a href="" class="btn  mr-1 btn-sm btn-raised  btn-info" (click)="onDelete(skills.ids)"> <i class="ft-plus mr-1"></i> Delete </a>
            </div>
        </div>
        </form>    
    </div>
    <!-- </div> -->
