<div class="row ">

    <div class="col-12">
        <div class="content-header">Work Experience</div>
        <p class="content-sub-header">This section is the heart of your resume so make sure you write it well. Start with your current position, then list all the previous positions.



        </p>
    </div>


</div>


<div class="row">
    <div class="col-12">



        <div class="card" *ngIf='list'>
            <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i class="{{sectionicon}} mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500">{{sectionname}}
                 
                    <a class="ft-edit px-1 font-small-3 info"  placement='top' ngbTooltip='Change section title & icon' (click)="editWorkexpErience()"></a>
                </h4>
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        <button class="dropdown-item" (click)="editWorkexpErience()">Change section title & icon</button>
                        <button class="dropdown-item">Settings</button>
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="confirmCancelButton()">Delete</button>
                    </div>
                </div>
            </div>
 


            <div *ngIf="workexperience">
                <div class="card-body" aria-expanded="true">

                    <div class="card-block">
                        <div class="drag-drop-wrapper">


                            <ul class="list-group list-group-flush drag-drop-container" [dragula]="MANY_ITEMS" [(dragulaModel)]='WorkExperinceArray' id="left">
                                <li class="list-group-item " *ngFor="let WorkExperince of WorkExperinceArray">
                                    <div>


                                        <div class="d-flex pl-3 justify-content-between align-content-center list-item-dragable">

                                            <div class="itemNumber position-absolute">
                                            </div>


                                            <div class="flex-grow-1">

                                                <a [routerLink]="" (click)=onEdit(WorkExperince)>
                                                    <h5>{{WorkExperince.speciality}}</h5>
                                                    <h6 class="font-medium-2 text-bold-500 black"> {{WorkExperince.name}} </h6>
                                                </a>
                                                <h6 class="card-subtitle "> <em class="blue">{{WorkExperince.start_time_MM}} {{WorkExperince.start_time_YYYY}}  {{WorkExperince.end_time_MM}} {{WorkExperince.end_time_YYYY}}</em>
                                                </h6>
                                                <h6>{{WorkExperince.Country}}</h6>
                                                <h6 innerHtml="{{WorkExperince.about}}">{{WorkExperince.about}}</h6>
                                            </div>
                                            <div class="actions"> <i class="ft-edit mr-1 info p-1" (click)=onEdit(WorkExperince) placement="top" ngbTooltip="Edit"></i> <i class="ft-copy mr-1 green p-1" (click)=onClone(WorkExperince) placement="top" ngbTooltip="Copy"></i>
                                                <i class="ft-trash-2 danger p-1" (click)=onDelete(WorkExperince.ids) placement="top" ngbTooltip="Delete"></i>


                                                <i class="handle ft-move mr-1 grey p-1 cursorMove" placement="top" ngbTooltip="Move"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                 
                </div>
                <div class="card-footer">


                    <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel" (click)="confirmCancelButton()">Delete Section</button>
                    <div class="float-right">

                        <a class="btn  mr-1 btn-raised  btn-info" (click)="onAdd(resumeIdArray._id)"> <i class="fa fa-add-to-list mr-1"></i> Add New
                        </a>
                    </div>
                </div>
            </div>


             
        </div>





        <div class="card" *ngIf="edit">
            <form #editForm="ngForm" (ngSubmit)="onEditSubmit(editForm)" class=" w-100">
                <div *ngIf="id">
                    <input type="hidden" name="ids" [(ngModel)]="workexperinceform.ids">
                </div>
                <div class="card-header">
                    <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i class="ft-bell mr-1 p-1 "></i>
                    </div>
                    <div class="d-inline-block">
                        <h4 class="card-title text-bold-500 primary">Edit New {{sectionname}}</h4>
                        <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
                    </div>
                </div>
                <div class="card-body" aria-expanded="true">
                    <div class="card-block">
                        <!-- <input type="hidden" name="id" [(ngModel)]="ids"> -->
                        <label for="basic-url">Position</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="speciality" [(ngModel)]="workexperinceform.speciality" aria-describedby="basic-addon3">
                        </div>
                        <label for="basic-url">Company Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" [(ngModel)]="workexperinceform.name" aria-describedby="basic-addon3">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12  col-xm-12">
                                <div class="form-group">
                                    <label for="startMonth">Start Date</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" name="start_time_MM" [(ngModel)]="workexperinceform.start_time_MM" (ngModelChange)="startdatechangefunction($event)">
                                                    <option *ngFor="let startdate of startDate" [value]="startdate.value">{{startdate.name  | translate}}</option>
                                                 
                                                </select>
                                        </div>
                                        <div class="col-6">
                                            <select *ngIf="startdate" class="form-control" name="start_time_YYYY" [(ngModel)]="workexperinceform.start_time_YYYY">
                                                    <option *ngFor="let year of year" [value]="year.name">{{year.name}}</option>
                                                   
                                                </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12  col-xm-12">
                                <div class="form-group">
                                    <label for="endMonth">End Date</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" name="end_time_MM" [(ngModel)]="workexperinceform.end_time_MM" (ngModelChange)="enddatechangefunction($event)">
                                                        <option *ngFor="let enddate of endDate" [value]="enddate.value">{{enddate.name}}</option>
                                                 
                                                </select>
                                        </div>
                                        <div class="col-6">
                                            <select *ngIf="enddate" class="form-control" name="end_time_YYYY" [(ngModel)]="workexperinceform.end_time_YYYY">
                                                        <option *ngFor="let year of year" [value]="year.name">{{year.name}}</option>
                                                    
                                                </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">City - Country</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="Country" [(ngModel)]="workexperinceform.Country" aria-describedby="basic-addon3">
                        </div>
                        <label for="basic-url">Achievements and Responsibilities </label> <br>
                        <i>Tell us what you did and how you helped the company</i>
                        <div class="input-group">
                            <quill-editor   name="about" [(ngModel)]="workexperinceform.about"  [modules]="config" (onEditorCreated)="setFocus($event)"></quill-editor>
                         
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="float-left btn btn-flat mr-1 btn-warning" (click)='onCancel()' href="javascript:void(0)">Cancel</a>
                    <!-- <button class=" float-left btn  mr-1   btn-raised  btn-secondary" (click)='onBack()'>Delete</button> -->
                    <div class="float-right ">
                        <button class="btn  mr-1   btn-raised  btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>