<div class="container mt-5">
    <div class="text-center">
        <h4>Unlock the power of StylingCV</h4>
        <h5>Choose a plan to download your documents</h5>
    </div>
    <div class="row">
        <div class="card-deck-wrapper col-12 mt-4">
            <div class="card-deck text-center">
                <div class="card mb-5 mb-lg-0 pricing">
                    <div class="card-header">
                        <h4 class="card-title">Monthly</h4>
                    </div>
                    <div class="card-body" aria-expanded="true">
                        <div class="card-block"> <img src="assets/img/svg/monthly.svg" class="width-60-per" alt=""> </div>
                        <div class="card-block">
                            <div class="pricingNum">
                                <h5 class="card-title text-muted text-uppercase text-center mb-2 font-large-1">$17.99 </h5>
                                <h6 class="card-price text-center text-uppercase  text-muted font-small-3">per month, cancel anytime</h6>
                                <!-- <hr> -->
                            </div>
                        </div>
                        <div class="card-block ">
                            <ul class="list-group text-left text-muted">
                                <li class="list-group-item"><i class="fa fa-color-sampler mr-2"></i> <span><strong
                                                class="text-bold-500">15 Resume </strong></span>Templates <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="Use all templates and designs"></i> </li>
                                <li class="list-group-item"><i class="fa fa-download4  mr-2" aria-hidden="true"></i> <span>Unlimited <strong class="text-bold-500">PDF Downloads</strong></span></li>
                                <li class="list-group-item"><i class="fa fa-magazine  mr-2"></i> <span><strong
                                                class="text-bold-500">Up to 10 </strong> Resumes & cover letters</span></li>
                                <li class="list-group-item"><i class="fa fa-file-plus  mr-2"></i> <span> <strong
                                                class="text-bold-500">Cover Letter </strong> Builder</span></li>
                                <li class="list-group-item"><i class="fa fa-images3  mr-2"></i> <span>Creative <strong
                                                class="text-bold-500">Backgrounds </strong></span></li>
                                <li class="list-group-item"><i class="fa fa-sphere  mr-2" aria-hidden="true"></i> <span><strong class="text-bold-500">Personal</strong> URL</span> <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="The pretty path to your resumes Online"></i>                                    </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer"> <a [routerLink]="['/payment']" [queryParams]="{type: 'one_month'}" class="btn btn-primary btn-lg w-100">UPGRADE NOW</a> </div>
                </div>

                <!-- 3months -->

                <div class="card mb-5 mb-lg-0  pricing position-relative"> <kbd class="position-absolute mostPop">Most
              Popular</kbd>
                    <div class="card-header">
                        <h4 class="card-title">Three Months</h4>
                    </div>
                    <div class="card-body" aria-expanded="true">
                        <div class="card-block"> <img src="assets/img/svg/3months.svg" class="width-60-per" alt=""> </div>
                        <div class="card-block">
                            <div class="pricingNum">
                                <h5 class="card-title text-muted text-uppercase text-center mb-2 font-large-1">$29.79 </h5>
                                <h6 class="card-price text-center text-uppercase font-small-5 mt-3">
                                        <kbd>NON RECURRING PAYMENT</kbd>
                                    <!-- per month, cancel anytime -->
                                </h6>
                                <!-- <hr> -->
                            </div>
                        </div>
                        <div class="card-block ">
                            <ul class="list-group text-left text-muted">
                                <li class="list-group-item"><i class="fa fa-color-sampler mr-2"></i> <span><strong
                                                class="text-bold-500">15 Resume </strong></span>Templates <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="Use all templates and designs"></i> </li>
                                <li class="list-group-item"><i class="fa fa-download4  mr-2" aria-hidden="true"></i> <span>Unlimited <strong class="text-bold-500">PDF Downloads</strong></span></li>
                                <li class="list-group-item"><i class="fa fa-magazine  mr-2"></i> <span><strong
                                                class="text-bold-500">Up to 10 </strong> Resumes & cover letters</span></li>
                                <li class="list-group-item"><i class="fa fa-file-plus  mr-2"></i> <span><strong
                                                class="text-bold-500">Cover Letter </strong> Builder</span></li>
                                <li class="list-group-item"><i class="fa fa-images3  mr-2"></i> <span>Creative <strong
                                                class="text-bold-500">Backgrounds </strong></span></li>
                                <li class="list-group-item"><i class="fa fa-sphere  mr-2" aria-hidden="true"></i> <span><strong class="text-bold-500">Personal</strong> URL</span> <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="The pretty path to your resumes Online"></i>                                    </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer"> <a [routerLink]="['/payment']" [queryParams]="{type: 'three_months'}" class="btn btn-lg w-100 text-white" style="background-color: #424242;">UPGRADE NOW</a> </div>
                </div>

                <!-- one Year -->
                <div class="card mb-5 mb-lg-0 pricing">
                    <div class="card-header">
                        <h4 class="card-title">Yearly</h4>
                    </div>
                    <div class="card-body" aria-expanded="true">
                        <div class="card-block"> <img src="assets/img/svg/yearly.svg" class="width-60-per" alt=""> </div>
                        <div class="card-block">
                            <div class="pricingNum">
                                <h5 class="card-title text-muted text-uppercase text-center mb-2 font-large-1">$4.99 </h5>
                                <h6 class="card-price text-center text-uppercase  text-muted font-small-3">per month, cancel anytime</h6>
                                <!-- <hr> -->
                            </div>
                        </div>
                        <div class="card-block ">
                            <ul class="list-group text-left text-muted">
                                <li class="list-group-item"><i class="fa fa-color-sampler mr-2"></i> <span><strong
                                                class="text-bold-500">15 Resume </strong></span>Templates <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="Use all templates and designs"></i> </li>
                                <li class="list-group-item"><i class="fa fa-download4  mr-2" aria-hidden="true"></i> <span>Unlimited <strong class="text-bold-500">PDF Downloads</strong></span></li>
                                <li class="list-group-item"><i class="fa fa-magazine  mr-2"></i> <span><strong
                                                class="text-bold-500">Up to 10 </strong> Resumes & cover letters</span></li>
                                <li class="list-group-item"><i class="fa fa-file-plus  mr-2"></i> <span> <strong
                                                class="text-bold-500">Cover Letter </strong> Builder</span></li>
                                <li class="list-group-item"><i class="fa fa-images3  mr-2"></i> <span>Creative <strong
                                                class="text-bold-500">Backgrounds </strong></span></li>
                                <li class="list-group-item"><i class="fa fa-sphere  mr-2" aria-hidden="true"></i> <span><strong class="text-bold-500">Personal</strong> URL</span> <i class=" fa fa-info2 mt-1  float-right" placement="top" ngbTooltip="The pretty path to your resumes Online"></i>                                    </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer"> <a  [routerLink]="['/payment']" [queryParams]="{type: 'yearly'}" class="btn btn-primary btn-lg w-100">UPGRADE NOW</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- faq -->

<div class="container-fluid mt-5 faqContainer p-5">
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title">Frequently asked questions</h4>
                <hr>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card-block">
                            <div class="card-text text-left">
                                <dl>
                                    <dt class="mt-3"> Are your payments secure? </dt>
                                    <dd> Yes! We do everything to make sure that your payment secure. All of the payments made on StylingCV are processed by 2checkout.com - an industry leader in secure online payments. </dd>
                                    <dt class="mt-3"> How can I pay? </dt>
                                    <dd class="text-muted"> We currently support payment with credit card, debit card, and PayPal. We support many different credit card providers like Visa, MasterCard, American Express, and others. </dd>
                                    <dt class="mt-3"> What templates can I access after I buy a
                        plan? </dt>
                                    <dd class="text-muted"> You can upgrade or downgrade your account plan at any time on your Account page. If you no longer wish to use ٍStylingCV, you can stop your subscription any time. It's done on the (My Account) page. </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-block">
                            <div class="card-text text-left">
                                <dl>
                                    <dt class="mt-3"> Do you do anything with my data? </dt>
                                    <dd class="text-muted"> No! Unlike some other (especially free) resume-building services, we do not trade your personal data. Your privacy and peace of mind are very important to us. </dd>
                                    <dt class="mt-3"> What is the difference between subscription
                        plans? </dt>
                                    <dd class="text-muted"> Please check the comparison table of subscription plans at the beginning of the page. </dd>
                                    <dt class="mt-3"> Do you offer support? </dt>
                                    <dd class="text-muted"> We sure do! You can reach us through the online contact form and our resume specialist will help you out with any resume or builder related questions. </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq -->

<!-- buy btn -->

<div class="container-fluid mt-5 p-5 ">
    <div class="container text-center">
        <div class="row">

                <div class="col-12">
                    <h3 class="text-primary">

                            Everything you need to get hired fast. In one place.

                    </h3>
                    <h4>
                            <kbd >519</kbd>
                 people have used Premium in the last 24 hours
            </h4>
                </div>
            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-trophy font-large-1 primary"></i><br>
                        <span class="text-bold-500"> Professional </span><br> Resumes </div>
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-docs font-large-1 primary"></i><br>
                        <span class="text-bold-500"> Up to 10 </span><br> Resumes & Coverletter</div>
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-globe-alt font-large-1 primary"></i><br>
                        <span class="text-bold-500">Multilingual </span><br> Resumes </div>
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-layers font-large-1 primary"></i><br>
                        <span class="text-bold-500"> 15 Template </span><br> Designs </div>
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-note font-large-1 primary"></i><br>
                        <span class="text-bold-500"> Unlimited </span><br> Entries </div>
                    <div class="col-6 col-lg-4 col-md-4 mb-3 text-center"><i class="icon icon-cloud-download font-large-1 primary"></i><br>
                        <span class="text-bold-500">Unlimited </span><br> PDF Downloads </div>
                </div>
            </div>
            <div class="col-12"> <a  class="btn btn-lg btn-primary"  (click)="goTop()">Upgrade Now</a> 
                </div>
            <div class="col-12 mt-5">
                <div>
                    <h4 class="card-title"> <i class="fa fa-lock mr-1"></i> We Safely Accept</h4>
                    <div class="logosII d-flex  justify-content-center">
                        <img src="assets/img/svg/paypal.svg" alt="">
                        <img src="assets/img/svg/visa.svg" alt="">
                        <img src="assets/img/svg/master.svg" alt="">
                        <img src="assets/img/svg/amex.svg" alt="">
                        <img src="assets/img/svg/discover.svg" style="height:25px" alt="">


                        <img src="assets/img/svg/verisign.svg" alt="">

                    </div>
                    <div class="safe-secure mt-3"><i class="fa fa-shield"></i> Safe &amp; Secure 128bit - SSL Encrypted checkout.</div>
                </div>
            </div>
        </div>
    </div>
</div>






 