<div class="row">
    <div class="col-12">
        <!--section preview-->
        <div class="card" *ngIf='list'>
            <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i class="{{sectionicon}} mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500 primary">{{sectionname}}</h4>
                    <!-- <h6 class="card-subtitle ">This section is the heart of your resume so make sure you write it well. Follow these simple guidelines:
                            </h6> -->
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        <!-- <button class="dropdown-item" (click)="onDataChange()">Rename</button> -->
                        <!-- <button class="dropdown-item" (click)="onChangeIcon(content)">Chnage data (PLz suggest a name)</button> -->
                        <button class="dropdown-item" (click)="editWorkexpErience()">Chnage data (PLz suggest a name)</button>
    
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div *ngIf="certifications">
                <div class="card-body" aria-expanded="true">
                    <div class="card-block">
                        <div class="drag-drop-wrapper">
                            <ul class="list-group list-group-flush drag-drop-container" [dragula]="MANY_ITEMS"
                                [(dragulaModel)]="certificationsArray" id="left">
                                <li *ngFor="let certifications of certificationsArray" class="list-group-item">
                                    <div
                                        class="d-flex pl-3 justify-content-between align-content-center list-item-dragable">
                                        <div class="itemNumber position-absolute">
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="">
                                                <!-- <h5 class="font-medium-2 text-bold-500 black"> {{certifications.speciality}} </h5> -->
                                                <h5 class="font-medium-2 black"> {{certifications.name}} </h5>
                                            </a>
                                            <h6 class="card-subtitle "> Authority - <em
                                                    class="blue">{{certifications.authority}} </em>
                                            </h6>
                                            <h6 class="card-subtitle "> Start Date - <em
                                                    class="blue">{{certifications.start_time_MM}}
                                                    {{certifications.start_time_YYYY}}</em>
                                            </h6>
    
                                            <h6 innerHtml="{{certifications.about}}">{{certifications.about}}</h6>
                                        </div>
                                        <div class="actions">
                                            <i class="ft-edit mr-1 info p-1" (click)=onEdit(certifications)
                                                placement="top" ngbTooltip="Edit"></i>
                                            <i class="ft-copy mr-1 green p-1" (click)=onClone(certifications)
                                                placement="top" ngbTooltip="Copy"></i>
                                            <i class="ft-trash-2 danger p-1" (click)=onDelete(certifications.ids)
                                                placement="top" ngbTooltip="Delete"></i>
                                            <i class="handle ft-move mr-1 grey p-1 cursorMove" placement="top"
                                                ngbTooltip="Move"></i>
                                        </div>
                                    </div>
    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-danger mr-1  btn-raised float-left" id="confirm-cancel"
                        (click)="confirmCancelButton()">Delete Section</button>
                    <div class="float-right">
                        <a class="btn  mr-1 btn-raised  btn-info" (click)="onAdd(resumeIdArray._id)"> <i
                                class="fa fa-add-to-list mr-1"></i> Add New
                        </a>
                    </div>
                </div>
                <div *ngIf="renamesection">
                    Change section title
                    <input [(ngModel)]="sectionname" (ngModelChange)="sectionrename($event)" placeholder="name">
                    <input type="button" value="Save" (click)="savesection()">
                </div>
            </div>
        </div>
    </div>
        <!--	  //section preview-->
        <!--	  section form add new-->
    <div class="card" *ngIf="add">
        <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)" class=" w-100">
            <div class="card-header">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i
                        class="ft-bell mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block">
                    <h4 class="card-title text-bold-500 primary">Add New Certification Details</h4>
                    <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
                </div>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <label for="basic-url">Certification title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" [(ngModel)]="name"
                            aria-describedby="basic-addon3">
                    </div>
                    <label for="basic-url">Authority name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="authority" [(ngModel)]="authority"
                            aria-describedby="basic-addon3">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="startMonth">Start Date</label>
                                <div class="row">
                                    <div class="col-6">
                                        <select class="form-control" name="start_time_MM"
                                            [(ngModel)]="start_time_MM">
                                            <option class="form-control">Select Month</option>
                                            <option *ngFor="let startdate of startDate" [value]="startdate.value">
                                                {{startdate.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control" name="start_time_YYYY"
                                            [(ngModel)]="start_time_YYYY">
                                            <option *ngFor="let year of year" [value]="year.name">{{year.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                        <label for="basic-url">Achievements and Responsibilities </label>
                    
                        <div class="input-group">
                            <quill-editor  [modules]="config"  name="about" [(ngModel)]="about"
                                (onEditorCreated)="setFocus($event)"></quill-editor>
                        </div>
                        <br> <br>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="float-left btn btn-flat mr-1 btn-warning" (click)='onCancel()'
                    href="javascript:void(0)">Cancel</a>
                <button class=" float-left btn  mr-1   btn-raised  btn-secondary" (click)='onBack()'>Delete</button>
                <div class="float-right ">
                    <button class="btn  mr-1   btn-raised btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="card" *ngIf="edit">
        <form #editForm="ngForm" (ngSubmit)="onEditSubmit(editForm)" class=" w-100">
            <input type="hidden" name="ids" [(ngModel)]="certificationsform.ids">
            <div class="card-header">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i
                        class="ft-bell mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block">
                    <h4 class="card-title text-bold-500 primary">Add New certifications Details</h4>
                    <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
                </div>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <input type="hidden" name="id" [(ngModel)]="ids">
                    <label for="basic-url">Certification title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" [(ngModel)]="certificationsform.name"
                            aria-describedby="basic-addon3">
                    </div>
                    <label for="basic-url">Authority</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="authority"
                            [(ngModel)]="certificationsform.authority" aria-describedby="basic-addon3">
                    </div>
		            <div class="d-inline-block">
                        <h4 class="card-title text-bold-500 primary">Add New certifications Details</h4>
                        <!-- <h6 class="card-subtitle ">Special title treatment</h6> -->
                    </div>
                </div>
                <div class="card-body" aria-expanded="true">
                    <div class="card-block">
                        <input type="hidden" name="id" [(ngModel)]="ids">
                        <label for="basic-url">Certification title</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" [(ngModel)]="certificationsform.name"
                                aria-describedby="basic-addon3">
                        </div>
                        <label for="basic-url">Authority</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="authority"
                                [(ngModel)]="certificationsform.authority" aria-describedby="basic-addon3">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12  col-xm-12">
                                <div class="form-group">
                                    <label for="startMonth">Start Date</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" name="start_time_MM"
                                                [(ngModel)]="certificationsform.start_time_MM">
                                                <option *ngFor="let startdate of startDate" [value]="startdate.value">
                                                    {{startdate.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" name="start_time_YYYY"
                                                [(ngModel)]="certificationsform.start_time_YYYY">
                                                <option *ngFor="let year of year" [value]="year.name">{{year.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">Achievements and Responsibilities </label>
                        <em>Tell us what you did and how you helped the company</em>
                        <div class="input-group">
                            <quill-editor [style]="{height: '200px'}" name="about"
                                [(ngModel)]="certificationsform.about" (onEditorCreated)="setFocus($event)">
                            </quill-editor>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="float-left btn btn-flat mr-1 btn-warning" (click)='onCancel()'
                        href="javascript:void(0)">Cancel</a>
                    <button class=" float-left btn  mr-1   btn-raised  btn-secondary" (click)='onBack()'>Delete</button>
                    <div class="float-right ">
                        <button class="btn  mr-1   btn-raised  btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
