
<div class="card"  id="quill-editor">
        <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i class="ft-bell mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500 primary">Free Text</h4>
                    <h6 class="card-subtitle ">Free Text
                    </h6>
                </div>

                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        <button class="dropdown-item">Rename</button>
                        <button class="dropdown-item">Change Icon</button>
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>


        
        <div class="card-body" aria-expanded="true">
          <div class="card-block">
                <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <quill-editor [style]="{height: '200px'}" (onEditorCreated)="setFocus($event)"></quill-editor>
                        </div>
                    </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-right "> <a class="btn  mr-1 btn-raised  btn-info">Save</a> </div>
        </div>
      </div>
      




<!-- <div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header">Free Text</div>
        <div class="fonticon-wrap" (click)="onEdit(i)">
            <i class="ft-edit-3"></i>
        </div>
        <div class="fonticon-wrap" (click)="onDelete(i)">
            <i class="ft-trash-2"></i>
        </div>
        <div class="fonticon-wrap">
            <i class="ft-settings"></i>
        </div>
    </div>
</div> -->
<!-- Default Quill Editor starts -->
 