.gh-fork {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }
  
  /* dragula-specific example page styles */
  .drag-drop-wrapper {
    display: table;
    width: 100%;
  }
  .drag-drop-container {
    display: table-cell;
    // background-color: rgba(0, 157, 160, 0.8);
    width: 100%;
    border: none;
  }

  .drag-drop-container > div,
  .gu-mirror {
    margin: 0;
    padding: 0;
    transition: opacity 0.4s ease-in-out;
  }
  .drag-drop-container > div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    // a{
    //   color: #000;
    // }
  }
  .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .drag-drop-container .ex-moved {
    background-color: rgba(255, 88, 107, 0.8);
    transition: opacity 0.4s ease-in-out;
  }
  .drag-drop-container.ex-over {
    background-color:rgba(255, 0, 0, 0.43) ;
  }
  #left-lovehandles > div,
  #right-lovehandles > div {
    cursor: initial;
  }
  .handle {
    
    cursor: move;
  }
  .image-thing {
    margin: 20px 0;
    display: block;
    text-align: center;
  }
  .slack-join {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    line-height: 16px;
  }
  
 
  .gu-transit.list-group-item
  {  background-color:#ffedb6 !important;
  border:dotted 2px black !important}

   
  // .gu-transit .list-item-dragable
  // {  background-color: #ffedb6 !important;
  // border:dotted 2px black !important}

  .list-group.list-group-flush.drag-drop-container {
   
    counter-reset: my-sec-counter
  }


  .list-group.list-group-flush.drag-drop-container .itemNumber:before {
    counter-increment: my-sec-counter;
    content: "" counter(my-sec-counter) "";
    display: inline-block;
    width: 33px;
    text-align: center;
    line-height: 35px;
    color: #262525;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: -16px;
    height: 32px;
    left: -19px;
}
.ft-move.cursorMove {
  cursor: -webkit-grab !important;
  cursor: grabbing !important;
}
.itemNumber.position-absolute {
  left: -38px;
  width: 60px;
  height: 1.2em;
  border: 1.5em solid #cfd0d3;
  z-index: 49;
  top: 1em;
  border-top-width: 1.5em;
  border-right-color: white;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.itemNumber.position-absolute:after {content: "";font-size: 0.5em;position: absolute;border-style: solid;border-color: transparent #949595  transparent transparent;top: 24px;right: 22px;border-width: 0 14px 15px 0;z-index: -1;}

 
 
.drag-drop-container .gu-mirror-stylingcv {
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  color: #fff;
  transition: opacity .4s ease-in-out;
}
.drag-drop-container .gu-mirror-stylingcv .d-flex.align-items-center {
  background: grey;
  padding: 10px 7px;
  margin-bottom: 6px;

}
.MoreStips div[class*="col-"] {
   
     
  margin-top: 3px;
}
.MoreStips div[class*="col-"]:before {
background: #b3b3b3;
content: "";
padding: 2px;
  display: block;
}