<!--Rating Starts-->

<div *ngIf="add">
        <!-- <p>Languages</p> -->
        <div class="row" matchHeight="card">
            <div class="col-12">
                <div class="card">
                    <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" class=" w-100">
                        <div class="card-header">
                            <h4 class="card-title">Languages</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-md-6">
                                        <label for="basic-url">Language -(e.g. English - Certified)</label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Enter Your Language Name" id="" type="text"
                                                (ngModelChange)="somethingChanged($event)" name="name" [(ngModel)]="selectedlanuage.name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6">
                                        <p>Strength from 1 to 10</p>
                                        <div class="input-group d-flex  flex-nowrap">
                                            <div>
                                                <ngb-rating name="rate" [(rate)]="selectedlanuage.rate">
                                                    <ng-template name="" let-fill="fill">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <h5 class="d-inline-block mx-1 bg-primary white p-1">{{selectedlanuage.rate}}/10
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"> <a class="float-left btn btn-flat mr-1 btn-warning"
                                href="javascript:void(0)"></a>
                            <button class=" float-left btn  mr-1   btn-raised  btn-secondary" (click)='onBack()'>Close</button>
                            <div class="float-right ">
                                <button class="btn  mr-1 btn-raised btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="edit">
        <!-- <p>Languages</p> -->
        <div class="row" matchHeight="card">
            <div class="col-12">
                <div class="card">
                    <form #editForm="ngForm" (ngSubmit)="onEditSubmit(editForm)" class=" w-100">
                        <input type="hidden" name="ids" [(ngModel)]="selectedlanuage.ids">
                        <div class="card-header">
                            <h4 class="card-title">Languages</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-md-6">
                                        <label for="basic-url">Language -(e.g. English - Certified)</label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Enter Your Language Name" id="" type="text"
                                                (ngModelChange)="somethingChanged($event)" name="name" [(ngModel)]="selectedlanuage.name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6">
                                        <p>Strength from 1 to 10</p>
                                        <div class="input-group d-flex  flex-nowrap">
                                            <div>
                                                <ngb-rating name="rate" [(rate)]="selectedlanuage.rate">
                                                    <ng-template let-fill="fill">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <h5 class="d-inline-block mx-1 bg-primary white p-1">{{selectedlanuage.rate}}/10
                                            </h5>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
    
                        </div>
                        <div class="card-footer"> <a class="float-left btn btn-flat mr-1 btn-warning"
                                href="javascript:void(0)"></a>
                            <button class=" float-left btn  mr-1   btn-raised  btn-secondary" (click)='onBack()'>Close</button>
                            <div class="float-right ">
                                <button class="btn  mr-1   btn-raised  btn-primary" (click)='onSave(dataSource)'>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div *ngIf="list">
    
    
        <div class="card">
            <div class="card-header d-flex justify-content-between ">
                <div class="card-header-icon d-inline-block	float-left font-medium-2"> <i
                        class="{{sectionicon}} mr-1 p-1 "></i>
                </div>
                <div class="d-inline-block flex-grow-1">
                    <h4 class="card-title text-bold-500 primary">{{sectionname}}</h4>
                    <h6 class="card-subtitle ">Publish the languages you which are proficient, Add the languages which you
                        can communicate oral and written effectively.
                    </h6>
                </div>
    
                <div ngbDropdown placement="bottom-right" class="d-inline-block actions float-right">
                    <i class="ft-more-vertical noArrow mr-1 text-muted" ngbDropdownToggle id="CardSetting"></i>
                    <div ngbDropdownMenu aria-labelledby="CardSetting">
                        <!-- <button class="dropdown-item" (click)="onDataChange()">Rename</button> -->
                        <!-- <button class="dropdown-item" (click)="onChangeIcon(content)">Chnage data (PLz suggest a name)</button> -->
                        <button class="dropdown-item" (click)="editWorkexpErience()">Chnage data (PLz suggest a
                            name)</button>
    
                        <button class="dropdown-item">Hide</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
    
    
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <div class="drag-drop-wrapper">
                        <ul class="list-group list-group-flush drag-drop-container" [dragula]="MANY_ITEMS"
                            [(dragulaModel)]="lanuageArray" id="left">
                            <li *ngFor="let language of lanuageArray; let i = index" class="list-group-item" id={{language.ids}}>
                                <!-- <div class="actions"> 
                                    <i class="ft-move mr-1 grey p-1"></i>
                                    <i class="ft-menu mr-1 info p-1"></i>
                                </div> -->
                                <div class="d-flex pl-3 justify-content-between align-content-center list-item-dragable">
                                    <div class="itemNumber position-absolute">
                                    </div>
                                    <div class="flex-grow-1">
                                        <a href="">
                                            <h5 class="font-medium-2 text-bold-500 black">{{language.name}} <span
                                                    class=" text-muted">({{(language.rate || language.proficiency) *10 }}%)</span>
                                            </h5>
                                        </a>
    
                                        <div>
                                            <ngb-rating [(rate)]="language.rate">
                                                <ng-template let-fill="fill"> <span class="star"
                                                        [class.filled]="fill === 100">&#9733;</span> </ng-template>
                                            </ngb-rating>
    
                                        </div>
    
    
                                    </div>
                                    <div class="actions">
                                        <i class="ft-edit mr-1 info p-1" (click)="onEdit(language)" placement="top"
                                            ngbTooltip="Edit"></i>
                                        <i class="ft-copy mr-1 green p-1" placement="top" (click)="onClone(language)"
                                            ngbTooltip="Copy"></i>
                                        <i class="ft-trash-2 danger p-1" placement="top" (click)="onDelete(i)"
                                            ngbTooltip="Delete"></i>
                                        <i class="handle ft-move mr-1 grey p-1 cursorMove" placement="top"
                                            ngbTooltip="Move"></i>
                                    </div>
                                </div>
                            </li>
    
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right ">
                    <a class="btn  mr-1 btn-raised  btn-info" (click)='onAddData()'> <i class="ft-plus mr-1"></i> Add
                        New Language </a>
                </div>
            </div>
        </div>
    
    
        <!-- <button (click)='onSubmit(dataSource)'>Submit Language</button> -->
    
    </div>
    <!--Rating Ends-->